<div class="flex flex-col">
  <div class="navbar bg-base-300 bg-primary">
    <div class="flex-none lg:hidden">
      <label for="my-drawer-3" class="btn btn-square btn-ghost">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
             class="inline-block w-6 h-6 stroke-current">
        </svg>
      </label>
    </div>
    <div class="text-2xl flex-1 px-2 mx-2">موبت</div>
    <div class="flex-none lg:block">
      <ul class="menu menu-horizontal">
        <!-- Navbar menu content here -->
        <li>
          <details>
            <summary>
              انتخاب آدرس
            </summary>
            <ul class="p-2 bg-base-100 z-20">
              <li><a>خانه خودم</a></li>
              <li><a>خانه مادر</a></li>
            </ul>
          </details>
        </li>
        <li><a>پروفایل</a></li>
      </ul>
    </div>
  </div>
<!--     <div>-->
<!--     </div>-->
</div>
