<div class="flex flex-col">
  <div class="navbar bg-base-300 bg-primary">
    <div class="flex-none lg:hidden">
      <label for="my-drawer-3" class="btn btn-square btn-ghost">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
             class="inline-block w-6 h-6 stroke-current">
        </svg>
      </label>
    </div>
    <div class="text-2xl flex-1 px-2 mx-2" >
      <button (click)="redirect_to_home()">موبت</button>
    </div>
    <div class="flex-none lg:block">
      <ul class="menu menu-horizontal">
        <li><a>پروفایل</a></li>
      </ul>
    </div>
  </div>
   <div class="flex justify-center w-full">
      <div class="bg-gray-50 w-96">
        <li><a>پروفایل</a></li>
        <li><a>پروفایل</a></li>
        <li><a>پروفایل</a></li>
        <li><a>پروفایل</a></li>
      </div>
   </div>
</div>
